.queries {
  background-color: #4A4E69;
  color: #F2E9E4;
  text-align: center;
  padding: 60px 20px;
  min-height: 400px;
}

.queries h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.queries p {
  font-size: 18px;
  margin-bottom: 30px;
}

.queries form {
  width: 400px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.queries input,
.queries textarea {
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: inherit;
  background-color: #F2E9E4;
  color: #22223B;
  outline: none;
}

.queries textarea {
  height: 130px;

}

.queries button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #22223B;
  color: #F2E9E4;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.queries button:hover {
  background-color: #9A8C98;
  color: #22223B;
}
